<template>
  <v-card>
    <v-card-title>
      <span class="headline">Сбросить пароль</span>
    </v-card-title>
    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex xs12>
            <v-text-field
              label="Email"
              required
              v-model="resetEmail"
              hint="Email, на который придет письмо со сгенерированным автоматически паролем"
              persistent-hint
              :error-messages="errors.collect('email')"
              v-validate="'required|email'"
              data-vv-name="email"
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-checkbox
              label="Подтверждаю сброс пароля"
              v-model="resetAgree"
              color="primary"
              hint="Нужно отметить чекбокс для подтверждения сброса пароля"
              persistent-hint
              required
            ></v-checkbox>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" flat @click.native="closeDialog">Отмена</v-btn>
      <v-btn color="blue darken-1" flat @click.native="changePassword" :disabled="resetAgree===false">Сохранить</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    name: 'ResetForm',

    data() {
      return {
        resetEmail: '',
        resetAgree: false
      }
    },

    methods:{
      closeDialog(){
        this.$emit('close-dialog')
      },

      changePassword(){
        //TODO Отправить запрос на сбрасывание пароля
        this.$validator.validateAll().then((result) => {
          if (result) {
            this.closeDialog()
            return
          }
        })

      }
    }
  }
</script>

<style>

</style>