<template>
  <v-app>
    <login v-if="not_authorized"></login>
    <v-container v-else fluid fill-height>
      <v-layout align-center justify-center>
        <v-progress-circular indeterminate :size="70" :width="7" color="primary"></v-progress-circular>
      </v-layout>
    </v-container>

  </v-app>
</template>

<script>
import Login from './components/Login/Login'

export default {
  data () {
    return {
      not_authorized: false
    }
  },
  name: 'App',

  components:{
    Login
  },

  mounted(){
    axios.get(`/info`, { withCredentials: true }).then( response => {
      window.location.replace('https://account.dantser.net')
    }).catch( error => {
      this.not_authorized = true
    })
  }
}
</script>

<style>
  .pull-left{
    float: left;
  }
  .pull-right{
    float: right;
  }
</style>
